/* Handle Flex display */
html {
    height: 100%;
}
body {
    height: 100%;
}
.flex-space {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.fill-space {
    flex: 1;
    margin: 30px;
}

/* Cards section */
.row > * {
    padding: 0px !important;
}
.container-card {
    margin-bottom: 15px;
    padding: 0px !important;
}
.margin-right-30 {
    margin-right: 30px;
}

/* Forms section */
.form-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-group {
    flex: 1;
    max-width: 400px;
    margin-right: 15px;
}
input {
    max-width: 400px;
}
.list-button {
    margin-top: 10px;
}
.button-deploy {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/*---------------------*/

.header-navbar {
    padding: 0px 15px;
    justify-content: space-between !important;
}
.footer-navbar {
    justify-content: center !important;
}
.icon {
    width: 24px;
    height: 24px;
}
.green {
    color: green;
}